body{
    background-image: url('../../images/background.jpg');
}


.swapp_arrow{
    font-size: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin: 20px auto !important;
    transition: all 0.3s ease-in-out;
}

.swapp_arrow:hover{
    color: #394387;

}

iframe{
    z-index: -1 !important;
}

.arrow{
    width:100%;
}

.navbar_outer{
    height: 100px;
    width: 100%;
    background: rgba(255,255,255,0.05);
    display: flex;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;

    
}

.nftimages{
    width: 32%;
    height: auto;
}


.nftimages_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.logo_container{
    margin-left: 50px;
    display: flex;
    align-items: center;
}



.logo_container h2{
    font-size: 26px;
}

.connect_wallet_container{
    margin-right: 50px;
}

.connect_wallet_container button{
    font-weight: 500;
}

.logo{
    width: 60px;
    padding-top: 10px;
}

.logo h2{
    margin-left: 10px;
}



.wallet{
    padding: 15px 30px;
    border-radius: 10px;
    outline: none;
    border:none;
    background: #20A7DB;
    color: #fff;
    font-size: 16px;
    font-weight: bold !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}


.wallet:hover{
    background: #394387;

}

@media(max-width:500px){
    .wallet{
        padding: 8px 20px;
        border-radius: 10px;
        outline: none;
        border:none;
    }

    .logo_container h2{
        font-size: 18px;
    }
}



.landing{
    width: 900px;
    background: rgba(255,255,255,0.05);
    margin: auto;
    margin-top: 40px !important;
    border-radius: 10px;
     backdrop-filter: blur(5px);
     height: stretch
    }

.progressbar-container{
    background:rgba(255,255,255,0.1);
    border-radius: 50px;
}


.progressbar-container:before {
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0;
    font-size: 15px;
    color: #fff;
    padding-left: 10px;
    /*Position text over the progress bar */
    position:absolute;

  }



.stak_box{
    padding: 40px 50px;
}

.tokenid{
    margin-bottom: 20px;
    font-size: 18px;
}


.all_buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px !important;
}


.text-blue{
    color:#7F3EDC;
}

.all_buttons button{
padding: 10px 0px;
width: 100% !important;  
}

.stak_heading h2{
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;


}
.stak_heading p{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    font-size: 18px;
    text-transform: capitalize;

}

.stak_info p{
    color: #fff;
    font-size: 22px;
}


.stak_info{
    margin-top:20px;
}

.inputs{
    margin-top: 20px;
}

.inputbox label{
font-size: 18px;
}

.inputbox input{
   width: 100%;
   height: 40px;
   outline: none;
   border: none;
   padding-left: 10px;
   font-size: 16px;
   margin: 10px 0;
   

}



.swap_element{
    font-weight: 600;
    color: #fff;
}
    


.maxToken{
    margin-top: 10px !important;
    width: 100%;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
   background: rgba(0,0,0,0.6);
   margin-bottom: 10px !important;

}
.input_amount{
    position: relative;
}


.max{
    position: absolute;
    top:10px;
    right: 0;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
   margin-bottom: 30px;
   background: #20A7DB;


}

.max p{
    text-align: center;
}

.maxToken p{
    color: #fff !important;
}


.greenButton{
    background-color: #20A7DB;
    border-radius: 10px;
    border: none;
    color:#fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.greenButton:hover{
    background: #394387;
}


.redbutton{
 background-color: #ff0000;
    border:1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    font-weight: bold;
    color:#fff;
    font-size: 16px;
    cursor: pointer;

}


@media(max-width:963px){
    .landing{
        width: 100%;
        margin-top: 0 !important;
        padding-top: 20px;
        height: 100vh;
        
    }

    .stak_heading{
        margin-bottom: 40px;
    }

    .logo_container{
        margin-left: 10px;
    }

    .connect_wallet_container{
        margin-right: 10px;

    }

    .nftimages{
        width: 48%;
        height: auto;
    }
}


@media(max-width:500px){
    
.all_buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px !important;
    gap:10px;
    margin: auto;
}


.all_buttons button{
    padding: 10px 10px;
    }

    

}




@media(max-width:400px){
    .all_buttons button{
        padding: 10px 0px;
        
        }

        .stak_box{
            padding: 40px 30px;
        }

        .logo_container h2{
            display: none;
        }
        
        .logo_container{
            margin-left: 20px;
        }

        
    .connect_wallet_container{
        margin-right: 20px;

    }
}
