*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  background: #000000;
}

.stack{
  color: #fff;
}


input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  height: 35px !important;
  padding-right: 10px;
}

input{
  border-radius: 3px !important;
}